        <section id="home" class="hero-section">
        <div class="hero-content">
            <div class="welcome-text">
            <h1 class="welcome-heading">Welcome</h1>
              <p class="welcome-subtext">
            I am Arie Soeteman, I am a PhD student working on Logical Reasoning for AI models at the
                <a class="institution-link" href="https://www.uva.nl/" target="_blank" rel="noopener">University of Amsterdam</a>, 
                <a class="institution-link" href="https://www.illc.uva.nl/" target="_blank" rel="noopener">Institute for Logic, Language and Computation</a>
            </p>
            </div>
        </div>
        </section>